$border-color: #a64d1f;
// .section-one {
//   background-image: url(../../../assets/img/home/bgr_5.jpg);
//   position: relative;
//   background-repeat: no-repeat;
//   background-position: center;
//   width:100%;
//   height: 100%;
//   z-index: 1;
//   display: inline-block;
// }
.section-one {
  position: relative;
}
.content-home-main {
  background-image: url(../../../assets/img/home/bgr_5.jpg);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  background-size: cover;
}
.container-center {
  display: flex;
  justify-content: center;
}
.content-home {
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 100;
  // &.content-one {
  //   top: 64px;
  // }
  .title-home {
    margin-bottom: 134px;
    padding-top: 50px;
  }

  .our-games {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 85px;
    grid-column-gap: 25px;
  }
}

.content-two {
  // top: 0;

  background-image: url(../../../assets/img/home/bgr_2.jpg);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 1555px;
  z-index: 1;
  display: inline-block;
  background-size: cover;
  .btn-all {
    margin-top: 94px;
    a {
      color: #f7ae10;
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #fff;
      }
      span {
        margin-left: 20px;
        border-radius: 20px;
        border: 1px solid;
        padding: 7.5px;
      }
    }
  }
  .title-home {
    margin-top: 250px;
  }
  .achievement {
    display: flex;
    align-items: center;
    .list-parameter {
      margin-left: 150px;
      .item-parameter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 90px;
        }
        img {
          margin-right: 46px;
        }

        .item-text {
          p {
            font-family: "Fira Sans";
            font-style: normal;
            color: #fff;
            &:nth-child(1) {
              font-weight: 700;
              font-size: 28px;
              line-height: 32px;
            }
            &:nth-child(2) {
              text-shadow: 0px 0px 4px #e57e25;

              font-weight: 900;
              font-size: 44px;
              line-height: 55px;
              -webkit-text-stroke: 1px #a0400c;
            }
          }
        }
      }
    }
  }
}
.content-three {
  background-image: url(../../../assets/img/home/bgr_3.jpg);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  display: block;
  padding-top: 320px;
  background-size: cover;

  // top: 0;
  .title-home {
    margin-bottom: 60px;
  }
  .jacat-team {
    &::before {
      content: url(../../../assets/img/home/bgrfames_3.png);
      position: absolute;
      left: 0;
      z-index: -1;
    }
    &::after {
      content: url(../../../assets/img/home/bgrfames_4.png);
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 50%;
    }
    .item-team {
      .name-team {
        margin-top: 8px;
        p {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 20.4117px;
          line-height: 22px;
          color: #fff;
          text-transform: uppercase;
          -webkit-text-stroke: 2.5px #592218;
          text-align: center;
        }
      }
    }
  }
}

.title-home {
  p {
    font-family: "Secular One script=latin rev=2";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -2px;
    -webkit-text-stroke: 4px $border-color;
    color: #ffffff;

    width: 100%;
    text-align: center;
    background-image: url(../../../assets/img/home/ourgame.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: 145px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.title-Achievement {
    p {
      background-image: url(../../../assets/img/home/game_v1.png);
      height: 145px;
    }
  }
  &.title-team {
    p {
      background-image: url(../../../assets/img/home/game-v2.png);
      height: 145px;
    }
  }

  .des {
    margin-top: 10px;
    span {
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 28px;
      color: #ffffff;
      text-align: center;
      width: 100%;
      display: block;
    }
  }
}

.item-games {
  background-image: url(../../../assets/img/home/bgrgame.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 573px;
  z-index: 1;
  display: block;
  p {
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -2px;
    -webkit-text-stroke: 4px $border-color;
    color: #ffffff;
  }
  .bgr-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}

.jacat-team {
  background-image: url(../../../assets/img/home/tableTeam.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1220px;
  height: 894px;
  z-index: 1;
  display: block;
  .section-team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    .all-item-team {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      .avatar {
        position: relative;
        .image-avatar {
          display: flex;
          justify-content: center;
          // position: absolute;
          //   transform: translateX(-50%);
          //   left: 50%;

          img {
            filter: drop-shadow(0px 0px 18px #ffe600);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .content-home-main {
    background-size: contain;
    background-color: #1d0100;
  }
  .content-home .our-games {
    grid-template-columns: repeat(2, 1fr);
    // .item-games {

    //   width: 100%;
    //   height: 100%;
    // }
  }
  .content-two .btn-all {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .content-two .title-home {
    margin-top: 160px;
  }
  .content-two {
    height: 100%;
    display: block;
  }

  .content-two .btn-all {
    padding-top: 50px;
    margin: 0;
  }
  .content-two .title-home {
    margin-top: 160px;
    padding-bottom: 100px;
  }
  .content-two .achievement {
    padding-bottom: 100px;
  }

  .content-three {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .content-home .title-home {
    margin-bottom: 50px;
    padding-top: 30px;
  }
  .title-home {
    p {
      background-size: contain;
      font-weight: 400;
      font-size: 26px;
      line-height: 9px;
      height: 80px;
    }
    .des span {
      font-size: 12px;
      line-height: 9px;
    }
  }

  .item-games {
    width: 100%;
    height: 100%;
    background-size: contain;
    .bgr-image img {
      width: 73%;
      height: 100%;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .content-home .our-games {
    grid-row-gap: 25px;
    grid-column-gap: 25px;
  }

  .content-two .btn-all {
    padding-top: 30px;
    a {
      font-size: 18px;
      line-height: 22px;
      span {
        margin-left: 10px;
        padding: 2px;
      }
    }
  }
  .title-home.title-Achievement p, .title-home.title-team p {
    height: 60px;
    background-size: contain;
  }
  .content-two .title-home {
    margin-top: 30px;
    padding-bottom: 0px;
  }
  .content-two .achievement {
    padding-bottom: 0;
    display: block;
    .container-center {
      padding-bottom: 100px;
    }
    .avatar {
      margin-bottom: 50px;
    }
    .list-parameter {
      margin: 0;
      .item-parameter:not(:last-child) {
        margin-bottom: 40px;
      }
      .item-parameter {
        .item-text {
          p {
            &:nth-child(1) {
              font-size: 15.8486px;
              line-height: 18px;
            }
            &:nth-child(2) {
              font-size: 24.9049px;
              line-height: 31px;
            }
          }
        }
        img {
          margin-right: 15px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .content-two {
    height: 100%;
    display: block;
    background-position: bottom right;
    padding-bottom: 200px;
  }


  .jacat-team {
    display: none;
  }
}
