<ng-container>
  <div id="home">

    <img src="../../../assets/img/home/bgr_1.jpg" width="100%" height="100%" alt="image" style="display:block ;" >
    <div class="container-header">
      <div class="our-games">
          <div class="item-games">
            <p>BiBi Doll</p>
            <img src="../../../assets/img/home/game-1.png" width="297px" height="454px" alt="image" style="display:block ;" >
          </div>
      </div>

    </div>
  </div>
</ng-container>
<app-footer-home></app-footer-home>
