<ng-container>
  <div id="home">
    <img
      src="../../../assets/img/home/bgr_1.jpg"
      width="100%"
      height="100%"
      alt="image"
      style="display: block"
    />
    <section class="section-one">
      <img
        src="../../../assets/img/home/bgr_5.jpg"
        width="100%"
        height="100%"
        alt="image"
        style="display: block"
      />
      <div class="content-home content-one">
        <div class="container-home">
          <div class="title-home">
            <p>Our Games</p>
            <div class="des">
              <span>The land of fun with variety games</span>
            </div>
          </div>
          <div class="our-games">
            <div class="item-games">
              <p>BiBi Doll</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-1.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Ball Run 2048</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-2.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Delete Puzzle</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-3.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Emoji Puzzle</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-4n.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Water Sort</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-5.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>ChiBi Dolls</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-6.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Tile Match</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-7.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Find It Out</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-8.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
            <div class="item-games">
              <p>Draw one Part</p>
              <div class="bgr-image">
                <img
                  src="../../../assets/img/home/game-9.png"
                  width="297px"
                  height="454px"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
          </div>
          <div class="all-games">
            <div class="btn-all">
              <a href="#"
                >See All games
                <span class="material-symbols-outlined"> arrow_forward </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-one">
      <!-- <img src="../../../assets/img/home/bgr_2.jpg" width="100%" height="100%" alt="image" style="display:block ;" > -->
      <div class=" content-two">
        <div class="container-section-two">
          <div class="title-home title-Achievement">
            <p>Achievement</p>
            <div class="des">
              <span>The land of fun with variety games</span>
            </div>
          </div>
          <div class="achievement">
            <div class="avatar">
              <img
                src="../../../assets/img/home/avatar.png"
                alt="image"
                style="display: block"
              />
            </div>
            <div class="list-parameter">
              <div class="item-parameter">
                <img
                  src="../../../assets/img/home/icondownload.png"
                  alt="image"
                  style="display: block"
                />
                <div class="item-text">
                  <p>Download</p>
                  <p>10.000.000</p>
                </div>
              </div>
              <div class="item-parameter">
                <img
                  src="../../../assets/img/home/iconfounding.png"
                  alt="image"
                  style="display: block"
                />
                <div class="item-text">
                  <p>Founding</p>
                  <p>03/2020</p>
                </div>
              </div>
              <div class="item-parameter">
                <img
                  src="../../../assets/img/home/all.png"
                  alt="image"
                  style="display: block"
                />
                <div class="item-text">
                  <p>Games</p>
                  <p>16</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-one">
      <!-- <img src="../../../assets/img/home/bgr_3.jpg" width="100%" height="100%" alt="image" style="display:block ;" > -->
      <div class="content-home content-three">
        <div class="container-home">
          <div class="title-home title-team">
            <p>Jacat Team</p>
            <div class="des">
              <span>The land of fun with variety games</span>
            </div>
          </div>
          <div class="jacat-team">
            <div class="section-team">
              <div class="all-item-team">
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/bossteam.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>trung vuong</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team1.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>trong nguyen</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team2.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>hiep nguyen</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team3.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>trung</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team4.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>M.</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team5.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>


                    </div>
                  </div>
                  <div class="name-team">
                    <p>QuyNv</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team6.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>


                    </div>
                  </div>
                  <div class="name-team">
                    <p>quynh</p>
                  </div>
                </div>
                <div class="item-team">
                  <div class="avatar-team">
                    <div class="avatar">
                      <div class="image-avatar">
                        <img
                          src="../../../assets/img/home/team7.png"
                          alt="image"
                          style="display: block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="name-team">
                    <p>ab.</p>
                  </div>
                </div>
              </div>

              <div class="information-team">
                <img
                  src="../../../assets/img/home/jacatTeam.png"
                  alt="image"
                  style="display: block"
                />
              </div>
            </div>
          </div>
        </div>
        <app-footer-home></app-footer-home>

      </div>

    </section>
  </div>
</ng-container>
