<ng-container>
  <div id="privacy-policy-page">
    <img
      src="../../../assets/img/home/bgr_1.jpg"
      width="100%"
      height="100%"
      alt="image"
      style="display: block"
    />
    <section class="section-jobs">
      <div class="content-page">
        <div class="container-jobs">
          <div class="main-jobs">
            <div class="title-privacy-policy">
              <h6>Privacy Policy</h6>
            </div>
            <div class="content-des">
              <div class="des-header"><span >

                Effective Date: 24th April, 2022

              </span></div>
              <div class="des-header"><span >



                Thank you for playing our games! This Privacy Policy applies to
                JaCat's games, websites and related services, which we here
                collectively call the Service. We may periodically update this
                Privacy Policy. If we make any material changes, we will notify
                you by posting a notice in the Service prior to the change
                becoming effective. Your continued use of the Service after the
                effective date will be subject to the new Privacy Policy.
              </span>
            </div>
              <p>PERSONAL DATA THAT WE COLLECT AND PROCESS</p>
              <span
                >We may collect the following categories of personal data
                relating to our existing or prospective individual customers:<br />
                Types of Data Collected</span
              >
              <li>Personal Data</li>

              <span
                >While using our Service, we may ask you to provide us with
                certain personally identifiable information that can be used to
                contact or identify you (“Personal Data”). Personally
                identifiable information may include, but is not limited to:<br />
                Email address</span
              >

              <li>Cookies and Usage Data</li>
              <span>
                We may use your Personal Data to contact you with newsletters,
                marketing or promotional materials and other information that
                may be of interest to you. You may opt out of receiving any, or
                all, of these communications from us by following the
                unsubscribe link or the instructions provided in any email we
                send.</span
              >

              <li>Usage Data</li>
              <span>
                We may also collect information that your browser sends whenever
                you visit our Service or when you access the Service by or
                through a mobile device (“Usage Data”).​ When you access the
                Service with a mobile device, this Usage Data may include
                information such as the type of mobile device you use, your
                mobile device unique ID, the IP address of your mobile device,
                your mobile operating system, the type of mobile Internet
                browser you use, unique device identifiers and other diagnostic
                data.
              </span>

              <li>Log Data</li>
              <span>
                We want to inform you that whenever you use our Service, in the
                case of an error in the app we collect data and information
                (through third party products) on your phone called Log Data.
                This Log Data may include information such as your device
                Internet Protocol (“IP”) address, device name, operating system
                version, the configuration of the app when utilizing our
                Service, the time and date of your use of the Service, and other
                statistics. Location Data We may use and store information about
                your location if you give us permission to do so (“Location
                Data”). We use this data to provide features of our Service, to
                improve and customize our Service.<br />
                You can enable or disable location services when you use our
                Service at any time by way of your device settings.
              </span>

              <li>Tracking & Cookies Data</li>
              <span>
                ​ ​We use cookies and similar tracking technologies to track the
                activity on our Service and we hold certain information.<br />
                Cookies are files with a small amount of data that are commonly
                used as anonymous unique identifiers. These are sent to your
                browser from the websites that you visit and are stored on your
                device's internal memory. This Service does not use these
                “cookies” explicitly. However, the app may use third party code
                and libraries that use “cookies” to collect information and
                improve their services. You have the option to either accept or
                refuse these cookies and know when a cookie is being sent to
                your device. If you choose to refuse our cookies, you may not be
                able to use some portions of this Service.
              </span>

              <li>Examples of Cookies we use:</li>
              <span>
                Session Cookies: We use Session Cookies to operate our
                Service.<br />
                Preference Cookies: We use Preference Cookies to remember your
                preferences and various settings.
                <br />Security Cookies: We use Security Cookies for security
                purposes. Advertising Cookies: <br />
                Advertising Cookies are used to serve you with advertisements
                that may be relevant to you and your interests. <br />
                or Unique device identifiers for advertising (Google Advertiser
                ID or IDFA, for example)
              </span>

              <li>
                Jacat uses the collected data for various purposes:
              </li>
              <span>
                <br />To provide and maintain our Service <br />To notify you
                about changes to our Service <br />To allow you to participate
                in interactive features of our Service when you choose to do so
                <br />To gather analysis or valuable information so that we can
                improve our Service <br />To detect, prevent and address
                technical issues <br />To provide you with news, special offers
                and general information about other goods, services and events
                which we offer that are similar to those that you have already
                purchased or enquired about unless you have opted not to receive
                such information
              </span>


              <li>
                THIRD PARTY SERVICES
              </li>
              <span>
                The app does use third party services that
              may collect information used to identify you. Link to privacy
              policy of third party service providers used by the app

              <br> Google Play Services
              <br>AdMob
              <br>Google Analytics for Firebase
              <br> Firebase Crashlytics
              <br>Facebook
              <br> Unity

              </span>

              <li>
                SERVICE PROVIDERS
              </li>
              <span>
                We may employ
              third-party companies and individuals due to the following
              reasons:<br>
               To facilitate our Service;
               <br>To provide the Service on our
              behalf;
              <br>To perform Service-related services; or
              <br>To assist us in analyzing how our Service is used.
              <br>We want to inform users of this
              Service that these third parties have access to your Personal
              Information. The reason is to perform the tasks assigned to them
              on our behalf. However, they are obligated not to disclose or use
              the information for any other purpose.

              </span>

              <li>
                PAYMENTS
              </li>
              <span>
                We may provide
                paid products and/or services within the Service. In that case, we
                use third-party services for payment processing (e.g. payment
                processors).
                <br>We will not store or collect your payment card
                details. That information is provided directly to our third-party
                payment processors whose use of your personal information is
                governed by their Privacy Policy. These payment processors adhere
                to the standards set by PCI-DSS as managed by the PCI Security
                Standards Council, which is a joint effort of brands like Visa,
                MasterCard, American Express, and Discover. PCI-DSS requirements
                help ensure the secure handling of payment information.
                <br>The
                payment processors we work with are:
                <br>- Apple Store In-App
                Payments. Their Privacy Policy can be viewed at LINK
                <br>- Google Play
                In-App Payments. Their Privacy Policy can be viewed at LINK
                <br>-
                Apple Store In-App Payments. Their Privacy Policy can be viewed at
                LINK
                <br>- Google Play In-App Payments. Their Privacy Policy can be
                viewed at LINK
              </span>

              <li>
                LAW ENFORCEMENT
              </li>
              <span>
                JaCat will take all the steps
                reasonably necessary to ensure that your data is treated securely
                and in accordance with this Privacy Policy and no transfer of your
                Personal Data will take place to an organization or a country
                unless there are adequate controls in place including the security
                of your data and other personal information.<br>

                Disclosure for Law
              Enforcement <br>​
              Under certain circumstances, JaCat may be required
              to disclose your Personal Data if required to do so by law or in
              response to valid requests by public authorities (e.g. a court or
              a government agency).
              <br> Legal Requirements ​
              <br>JaCat may disclose your
              <br>
              Personal Data in the good faith belief that such action is
              necessary to: ​
              <br>- To comply with a legal obligation
              <br>- To protect
              and defend the rights or property of Amanotes Pte. Ltd.
              <br>- To
              prevent or investigate possible wrongdoing in connection with the
              Service
              <br>- To protect the personal safety of users of the Service
              or the public
              <br>- To protect against legal liability

              </span>

              <li>
                SECURITY
              </li>

              <span>
                We
                value your trust in providing us your Personal Information, thus
                we are striving to use commercially acceptable means of protecting
                it. But remember that no method of transmission over the internet,
                or method of electronic storage is 100% secure and reliable, and
                we cannot guarantee its absolute security.
              </span>

              <li>
                 LINKS TO OTHER SITES
              </li>

              <span>
                This Service may contain links to other sites. If you click on a
                third-party link, you will be directed to that site. Note that
                these external sites are not operated by us. Therefore, we
                strongly advise you to review the Privacy Policy of these
                websites. We have no control over and assume no responsibility for
                the content, privacy policies, or practices of any third-party
                sites or services.
              </span>

              <li>
               CHILDREN’S PRIVACY
              </li>

              <span>
                These Services do not
                address anyone under the age of 13. We do not knowingly collect
                personally identifiable information from children under 13. In the
                case we discover that a child under 13 has provided us with
                personal information, we immediately delete this from our servers.
                If you are a parent or guardian and you are aware that your child
                has provided us with personal information, please contact us so
                that we will be able to do necessary actions.

              </span>

              <li>
                  CHANGES TO THIS
                  PRIVACY POLICY
              </li>
              <span>
                We may update our Privacy Policy from time to time.
              Thus, you are advised to review this page periodically for any
              changes. We will notify you of any changes by posting the new
              Privacy Policy on this page.
              <br> This policy is effective as of
              2022-05-01
              </span>


            </div>
          </div>
        </div>
        <app-footer-home [data]=true></app-footer-home>
      </div>
    </section>
  </div>
</ng-container>
