<div class="list-iteam-2">
  <div>
    <nav id="nav">
      <ul id="navigation">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" [routerLink]="['/']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" [routerLink]="['/game']" >Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" [routerLink]="['/team']" >Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" [routerLink]="['/jobs']" >jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" [routerLink]="['/contact']" >contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
