<!-- <h6 *ngIf="success; else elseDefault"  class="title-dialog title-success-dialog"><mat-icon>check_circle_outline</mat-icon>  Nộp hồ sơ thành công!</h6>
  <p *ngIf="success" class="des-success-dialog">Chúng tôi sẽ liên hệ với bạn trong 3-5 ngày làm việc tiếp theo. Xin cảm ơn!</p> -->


  <div class="dialog-jobs">
    <div class="content">
      <div class="describe">

          <h2>Game Designer senior</h2>
          <p>Mô tả công việc</p>
          <span>
            Assist the broadcast of different tournaments nationally
            and internationally for popular games such as: Free Fire, Arena of
            Valor, League of Legends, FIFA Online 4. Assure the quality of
            livestream broadcasts Setup, operate Cameras, Computers and other
            specialized equipment during tournaments at the studio or offline events
            Program and manage the company's tournament operations related software
            Other tasks as assigned by the manager
          </span>
          <p>Yêu cầu công việc </p>

          <span>Graduate from IT or related fields, having basic knowledge about
            programing, API, Python, Database, ... Proficient in MS Office, Adobe
            and other programing language Have knowledge and experience with
            graphics related software such as unreal, 3D graphics is a plus Good
            English, especially IT related English (listening and speaking is
            preferred) Have knowledge and passion for games, especially Moba Good
            logical reasoning A fast learner </span>
      </div>
    </div>

    <div class="btn-dialog">
      <button mat-stroked-button class="sumbitform" (click)="openRecruit()">
        <span>APPLY NOW</span>
      </button>
      <a href="#">Share this post</a>
    </div>
  </div>


