<ng-container>
  <div id="jobs-page">
    <img
    src="../../../assets/img/game/game-bgr-1.jpg"
    width="100%"
    height="100%"
    alt="image"
    style="display: block"
  />
    <section class="section-jobs">
      <div class="content-page">
        <div class="container-jobs">
          <div class="main-jobs">
            <div class="list-form-contact">
              <form class="form-dialog">
                <mat-form-field class="name-contact" appearance="outline">
                  <mat-icon class="icon-contact" matPrefix
                    ><span class="material-symbols-outlined">
                      person
                    </span></mat-icon
                  >
                  <mat-label>Tên của bạn</mat-label>
                  <input matInput placeholder="" value="" required />
                </mat-form-field>
                <mat-form-field class="name-contact" appearance="outline">
                  <mat-icon class="icon-contact" matPrefix
                    ><span class="material-symbols-outlined">
                      person
                    </span></mat-icon
                  >
                  <mat-label>Tên của bạn</mat-label>
                  <input matInput placeholder="" value="" required />

                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-container>
