@font-face {
  font-family: "Fira Sans";
  src: url(../src/assets/family/Fira_Sans/FiraSans-ExtraBold.ttf)
    format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url(../src/assets/family/Roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Secular One";
  src: url(../src/assets/family/Secular_One/SecularOne-Regular.ttf)
    format("opentype");
}

@font-face {
  font-family: "Mali";
  src: url(../src/assets/family/Mali/Mali-Bold.ttf)
    format("opentype");
}

$color-default: #2e2a29;

body {
  margin: 0;
  font-family: "Fira Sans";
  color: $color-default;
  font-style: normal;
}
p {
  margin: 0;
}

header {
  width: 100%;
  z-index: 9999;
  background: rgba(1, 1, 1, 0.7);
  position: absolute;
}
header.sticky {
  position: fixed;
  top: 0;
  transition: all 0.4s ease-out;
}
header.header-down {
  transition: all 0.4s ease-out;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
  position: fixed;
}
header.header-up {
  transition: all 0.4s ease-out;
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.title-dialog-recruit {
  h6 {
    font-weight: 700;
    font-size: 53.4048px;
    color: #ffffff;
    font-family: "Mali";
    -webkit-text-stroke: 3.64591px #c2632a;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.des-success-dialog {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 20px 0;
}



.container,
.container-home,
.container-header,
.container-product,
.container-section-two,
.container-jobs,
.container-menu-footer,
.container-contact {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 1441px) {
  .container {
    max-width: 1560px !important;
  }

  .container-header {
    max-width: 1220px !important;
  }
  .container-home {
    max-width: 1400px !important;
    box-sizing: border-box;
  }
  .container-jobs {
    max-width: 1130px !important;
  }


  .container-contact {
    max-width: 1400px !important;
  }

  .container-menu-footer {
    max-width: 1130px !important;
    box-sizing: border-box;
  }

  .container-product {
    max-width: 740px !important;
  }
  .container-section-two {
    max-width: 1550px !important;
  }
}

@media (max-width: 1440px) {
  .container-header {
    max-width: 1130px !important;
  }
  .container-home {
    max-width: 1160px !important;
  }
  .container-jobs {
    max-width: 1130px !important;
  }
}

@media only screen and (max-width: 767px) {
  .container-home {
    max-width: 350px !important;
  }
  .container-section-two {
    max-width: 350px !important;
  }
}
